// Variables
$red-color: #cc0000;

// Basic Styling 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

// Mixins
@mixin section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

@mixin section-title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

@mixin section-underline {
  background: #000;
  height: 2px;
  width: 50px;
}